
:root {
    --yellow: #ffc800; /* Example */
    --deg: -86deg;
    --trans: all 0.4s ease 0s;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link.active{
	color:#fff !important
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #ffc800;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

#mainNav {
    transition: padding 0.3s, background-color 0.3s; /* Smooth transition */
}

.navbar-shrink {
    padding: 0.5rem 0; /* Smaller padding when shrunk */
    background-color: rgba(0, 0, 0, 0.8); /* Optional: Change background when shrunk */
}



header.masthead {
    height: 100vh;
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

header.masthead .masthead-heading {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.section-subheading{
    font-style: italic;
    font-size: 0.85rem;
    max-width: 75%;
    margin:auto;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.custom-warning-btn{
    color:white;
    text-transform:uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.dark-section-bg{
    background-color: rgba(230, 230, 230, 0.5)!important;
}

.dark-footer-bg{
    background-color: rgba(230, 230, 230, 0.5)!important;
}


.page-section {
    padding: 4rem 0;
}




.content {
	width: 100vmin;
}



.sprint {
	padding: 2em 0 2em 2.5em;
	margin: 0;
}

.item {
	margin: 1.5em 0 0.5em;
	padding: 0.73em;
	background: linear-gradient(
		83deg,
		var(--yellow) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
	position: relative;
	list-style: none;
	display: inline-block;
	transform: scale(0.85);
	transition: var(--trans);
}

.item:nth-of-type(even) {
	text-align: right;
	background: linear-gradient(
		-83deg,
		var(--yellow) 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
}

.thumb {
	width: 13vmin;
	height: 13vmin;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(
		var(--deg),
		var(--dark) 0 70%,
		var(--yellow) 0% 100%
	);
	transform: rotate(-4deg);
	transition: var(--trans);
	border-radius: 0.25em;
	overflow: hidden;
	margin-left: -3em;
	padding: 0.5em;
}

.item:nth-of-type(even) .thumb {
	--deg: 86deg;
	float: right;
	margin-left: 2em;
	margin-right: -3em;
	transform: rotate(4deg);
}

.thumb img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	filter: grayscale(1);
	background: var(--dark);
}

.item:hover {
	transform: scale(1);
	transition: var(--trans);
	filter: drop-shadow(0px 20px 10px #0008);
}

.item:hover .thumb {
	padding: 0.1em;
	transition: var(--trans);
	transform: rotate(-1deg);
	--deg: -89deg;
}

.item:nth-of-type(even):hover .thumb {
	--deg: 91deg;
}

.item:hover .thumb img {
	filter: none;
	transition: var(--trans);
}

.description {
	padding-top: 1vmin;
}

.description p {
	padding: 0 2em;
	margin-bottom: 1em;
}

.thumb h3 {
	background: linear-gradient(182deg, #fff0 60%, var(--dark) 0 100%);
	display: inline;
	transform: rotate(-2deg);
	position: absolute;
	margin: 0;
	margin-top: -2.25em;
	left: 9vmin;
	padding: 0.5em 0.75em;
	color: var(--yellow);
	border-radius: 0.25em;
	font-size: 1.35em;
	transform-origin: left bottom;
}
.item h3,
.item h2 {
    transform: rotate(-2deg); 
}

/* Hover effect for all items */
.item:hover h3,
.item:hover h2 {
    transition: var(--trans);
    transform: rotate(0deg);
    background: linear-gradient(180deg, #fff0 59%, var(--dark) 0 100%);
}

.item:nth-of-type(even) h3 ,
.item:nth-of-type(even) h2{
	left: inherit;
	right: 9vmin;
	transform: rotate(2deg);
	transform-origin: right bottom;
	background: linear-gradient(-182deg, #fff0 60%, var(--dark) 0 100%);
}


.item:hover h3,
.item:hover h2 {
	transition: var(--trans);
	transform: rotate(0deg);
	background: linear-gradient(180deg, #fff0 59%, var(--dark) 0 100%);
}


.description p a {
	display: inline-block;
	margin: 0.5em 0 0 0;
	background: var(--dark);
	color: var(--yellow);
	padding: 0.1em 0.5em 0.35em;
	border-radius: 0.5em;
	text-decoration: none;
	transition: var(--trans);
}
.description p a:hover {
	transition: var(--trans);
	color: var(--dark);
	background: var(--yellow);
	font-weight: bold;
}

.description p a img {
	float: left;
	width: 22px;
	filter: invert(1);
	border-radius: 0.15em;
	padding: 2px;
	background: #fff;
	margin-right: 2px;
}

.team-member {
    margin-bottom: 3rem;
    text-align: center;
}

.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    object-fit: cover;
    display: block;
}

.team-member h4,
.team-member .h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
}